@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.green-gradient {
    background:linear-gradient(to top, rgb(126, 163, 16),rgba(126,163,16,0.99),rgba(126,163,16,0.88),rgba(126,163,16,0.77),rgba(126,163,16,0.66),rgba(126,163,16,0));
}

.img-border{
    background-color: #7EA310;
    border-radius:51% 49% 43% 57% / 68% 34% 66% 32%;
}

.shadow-box{
    text-shadow: 20 -20 10px #213502;
}

.drop-sh {
    box-shadow: ;
}